.zero-month-picker input {
  background-color:#343434;
  color:#d1d1d1;
  padding:10px;
  border-radius: 10px;
  border: none !important;
  text-align: center;
}

.zero-month-picker input:hover {
  background-color:#343434;
  color:#d1d1d1;
  outline: none;
}

.zero-month-picker input:focus {
  outline: none;
}

.zero-month-picker {
  padding:30px;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  background-color:black;
  height:500px;
}